@media (max-width: 1048px) {
  .nav-left,
  .nav-right {
    display: none;
  }

  .header-inner {
    justify-content: space-between;
    height: 46px;
    width: 90vw;
  }

  .logo img {
    height: 52px;
  }

  .header-info {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px 200px;
    min-height: max-content;
    margin-top: 100px;
  }

  .header-text {
    max-width: 100%;
  }

  .header-main-img {
    width: 80%;
    margin-top: 40px;
  }

  .header-text h1 {
    font-size: 52px;
  }

  .header-text .subtitle {
    font-size: 26px;
  }

  .about-grid {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .about-title {
    font-size: 42px;
  }

  .about-subtitle {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .contacts-inner {
    grid-template-columns: 1fr;
    gap: 60px;
    text-align: center;
  }

  .contacts-title {
    font-size: 42px;
  }

  .contacts-text {
    font-size: 20px;
  }
  .about .container {
    flex-direction: column;
  }

  .subtitle img {
    width: 300px;
  }
  .advantages-grid {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 40px;
    margin-bottom: 0;
  }

  .subtitle {
    font-size: 25px;
    text-transform: none;
  }
  .about,
  .certificates,
  .advantages {
    padding: 40px 0;
  }
  .container {
    padding: 0 15px;
  }
  .certificates-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
  }
  .certificate-list li {
    margin-left: 0;
  }
  .certificate-list li::before {
    position: relative;
    left: -5px;
  }
  .logo {
    height: 120px;
    left: -15px;
    right: auto;
  }
  .header-info > img {
    display: none;
  }
  .header {
    height: auto;
    padding-bottom: 0;
    min-height: max-content;
    background-size: 130vh;
    background-position: right 70%;
  }
  .about {
    padding-top: 0;
    background-size: 80vh;
    background-position: left 5%;
  }
  .about .container > img {
    width: 95vw;
    position: relative;
    margin-top: -200px;
    z-index: 100;
  }

  .about .subtitle img {
    margin-bottom: 30px;
  }
  header .flowers {
    left: auto;
    top: 73px;
  }

  .logo {
    position: relative;
    top: 0;
    height: 120px;
  }

  .burger {
    display: block;
  }

  .header-inner {
    justify-content: space-between;
    padding: 16px 30px;
  }
  .advantages {
    background-size: 130vh;
  }
}
